/* responsive design for mobile device */
@media screen and (max-width:600px) {
    nav,
    .nav-container,
    .item-container ul,
    .popular-container,
    .simple-banner,
    .newsletter-section,
    .footer-section
    {
        flex-direction: column;
    }
    .banner-container{
        width: 400px;
        height: 500px;
        
    }
    .banner-title h3{
        font-size: 30px;
        position: relative;
        bottom: 90px;
    }
    .banner-title p{
        width: 330px;
        height: 100px;
        font-size: 20px;
        margin-left: 50px;
        margin-bottom: 20px;
    }
    .banner-input-frame{
        width: 300px;
        height: 84px;
        margin: 0 0 0 100px;
        padding: 0;
        background: none
    }

    .popular-container, .simple-banner{
        margin: 0;
        gap: o;
    }
    .popular-items{
        width: 400px;
        height: 500px;
        padding: 0;
        margin: 0;
    }
    .popular-details{
        width: 400px;
    }
    .simple-banner-title{
        width: 350px;
    }
    .simple-banner-description{
        width: 400px;
        margin: 0;
    }
    .point-1, .point-2{
        width: 400px;
    }
    .simple-banner-img img{
        width: 400px;
    }
    .newsletter{
        width: 400px;
        height: 400px;
        padding: 0;
    }
    .newsletter-title, .newsletter-description{
        text-align: center;
    }
    .newsletter-description{
        width: 350px;
    }
    .newsletter hr{
        width: 350px;
        margin-right: 20px;

    }
    #name, #email, button{
        width: 300px;
        margin-left: 50px;
    }
    .discount img{
        width: 430px;
    }
    .save-badge{
        width: 180px;
        height: 130px;
    }
    footer{
        width: 400px;
        height: 400px;
        margin: 0;
        padding: 0;
    }
    .footer-description{
        padding: 0;
        margin: 0;
    }
    .footer-icon {
        align-items: center;
        margin-left: 150px;
        padding: 0;
    }
    .footer-section{
        align-items: center;
    }
}